.field {
/* padding: 5px; */
  margin-left: -5%;
  border-radius: 20px;

}

#video-search {
  font-size: 10px;
  margin-top: -4%;
  margin-left: -2%;
}

#searchBox {
  border-radius: 20px;
  width: 125%;
}
#videoSearchContainer {
  width: 100vw;
  border-radius: 20px;

}
#video-input {
  margin-top:-1%;
  margin-left: 2%;
  width: 85%;
  height:5px;
  border-radius: 20px;
}