.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    /* width: 13.3vh;
    height: 20%; */
    text-align: left;
    margin-left: -2%;
    /* margin-top:2% */
}

.video-item.item img {
    max-width: 5vh;
    height: 120% ;
    /* margin-right: -10%; */
    border-radius: 5px;
    margin-top:10%;
}

#videoList {
    height: 50%
}

/* actual video / zoom in zoom out etc */
#embed {
    margin-top: -5%;
    width: 100%;
    height: 100%;
    
}

/* positions video container*/
#videoContainer {
    width: 100%;
    height: 23.3vh;
    margin-top: 4%;
    margin-left: 50%;
    
}

#description {
    width: 85%;
    height: 100%;
    margin-top: 2%;
    margin-left: 10%;
    font-weight: smaller;
}

/* #loading-div {
    color: white;
} */


/* #videoContainer {
    width: 100%;
} */