
/* #containerNews {
    border-radius: 25px;
    background-color: slategrey;
    opacity: 0.8;
    height: 60%;
    width: 70%;
} */


/* h1 {
    text-align: center;
    font-size: 30%;
} */

#videoListContainer {
    margin-top: 48%;
}

#youtubeTitle {
    
    margin-left: 20%;
}

#news {
    
    overflow-y:scroll;
    height: 400px;
}

#podcast {
    overflow-y:scroll;
    height: 400px;
}

#containerOfpopulatedPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 50px 50px; 
}


#titleDiscover {
    text-align: center;
}

#news {
    border-radius: 20px;
}

body {
    background-color: black;
    margin: 0 auto;
    padding: 0;
}

#containerYoutube {
    width: 100%;
    height: auto;
    border-radius: 20px;
    /* background-color: white; */
    margin: 40px;
    margin-left: -50%;
    
    flex: 1;

    width: 100%;
    /* flex: 1;
    height: 70%;
    width: 60vh; */
    text-align: left;
}
.uiGrid {
    background-color: white;
    width: 125%;
    border-radius: 20px;

}



#containerNews {
    border-radius: 20px;
    /* background-color:#6CDAE7; */
    margin-top: 8%;
    /* margin-right: 10%; */
    width: 100%;
    height: auto;
    /* flex: 0 0 65%;
    margin-left: 80%;
    float: left;
    text-align: left; */
}

#newsTitle {
    margin-left:20%;
    margin-top:6%;
    margin-bottom: 4%;

}

#podcastTitle {
    margin-top:2%;
    margin-bottom:5%;
}

#containerPodcast {
    
    border-radius: 20px;
    /* background-color: #FC74FD; */
    /* margin-top: 40%; */
    margin: 40px;
    margin-top: 9%;
    width: 100%;
    height: auto;
    /* flex: 1;
    height: 40%;
    margin-left: 40%;
    margin-top: 20%;
    float: left;
    width: 30%; */
    text-align: left;
}