#article-card {
  width: 18rem;
  text-align: center;
  border: 5px solid lightseagreen;
}
#article-btn {
  margin: 5px;
height: auto;
  background-color: lightseagreen;
  border: none;
  font-size: 13px;
  text-align: center;
}

.card-text {
  font-size: 14px;
}

.card-title {
  color: black;
}

