body {
    margin: 0 auto;
    padding: 0;
}

#leftBlock {
    border-radius: 40px;
    font-family: monospace;
    color: grey;
    text-align: left;
    float: left;
    height: 200%;
    width: 30%;
    opacity: 0.9;
    margin-top: 25px;
    margin-left: 10%;
    
    /* display: inline-block; */
}

#userInfoBlock {
    border-radius: 25px;
    /* background-color: lightslategray; */
    opacity: 0.8;
    color: whitesmoke;
    font-family: monospace;
    font-size: 18px;
    height: 70%;
}

h1, h2 {
    color: white;
}

h2 {
    text-align: center;
    padding: 5px;
}

.topicName {
    font-size: 100% ;
}

.blurbBlock {
    font-size: 80% ;
}

#titleFav {
    margin-left: -20%;
    font-size: 150% ; 
}

.blurbBlock {
    font-size: 60%;
}

.hello {
    font-size: 150% ; 
}



#rightBlock {

    font-family: monospace;
    color: lightslategray;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    /* margin-left: 0%; */
    height: 100%;
    width: 59%;
    margin-top: 25px;
    /* z-index:999; */
    position: absolute;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.container:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    color: white;
}


#row1L {
    border-radius: 15px;
    background-color:rgb(55, 165, 177);
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 15px;
    float: left;
}

#row2L {
    border-radius: 15px;
    background-color: #cc00cc ;
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 15px;
    float: left;
}

#row3L {
    border-radius: 15px;
    background-color: rgb(121, 180, 33);
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 10px;
    float: left;
}

#row4L {
    border-radius: 15px;
    background-color: red;
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 10px;
    float: left;
}

#row5L {
    border-radius: 15px;
    background-color: violet;
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 10px;
    float: left;
}

#row1R {

    border-radius: 15px;
    background-color: rgb(145, 18, 107);
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 10px;
    margin-top: 15px;
    float: left;
}

#row2R {

    border-radius: 15px;
    background-color: blue;
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 10px;
    margin-top: 15px;
    float: left;
}

#row3R {
    border-radius: 15px;
    background-color: orange;
    flex: 0 0 65%;
    height: 40%;
    width: 35%;
    /* margin: 2 5px; */
    margin: 10px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

#row4R {
    border-radius: 15px;
    background-color: lightskyblue;
    flex: 1;
    height: 40%;
    margin: 15px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    width: 35%;
}

#row5R {
    border-radius: 15px;
    background-color: lightskyblue;
    flex: 1;
    height: 40%;
    margin: 15px;
    float: left;
    width: 35%;
}


#explore {
    color: orange;
}
