
/* #abdul {
    height:60%;
    width: 80%;
    margin-left: 20%;
    margin-right: 20%;

}

#containerTitle {
    background: black;
    min-height:100vh;
    width: 100vw;
    position: absolute;
}
 */

.titleImage {
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: black;
    padding: 0 10px;
}
